.background-image{
    background: url("portfolio\football.jpg")
}
h1{
    color: yellow
    
    
}

h2{
    color: yellow
}
    .content{
        font-size: 30px;
        letter-spacing : 0px;
    }
    .header {
        font-size: 35px;
    }
  table,th,td {
      border:1px solid red 
  } 
  
 